.contact-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    background-image: url(image/contact-img.png);
}

.contact {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    align-items: center;
    width: 50%;

    padding-left: 46px;
    padding-right: 46px;
}

.contact-header {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #000000;

    margin-bottom: 37px;

}

#contact-name {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: 100%;

    margin-bottom: 34px;

}

#contact-email {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: 100%;

    margin-bottom: 34px;
}

#contact-message {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    width: 100%;

    margin-bottom: 51px;
}

.contact-btn {
    background: #68763F;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    margin-bottom: 58px;
    margin-left: auto;

    width: 25%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
}

@media (max-width:768px) {
    .contact-btn {
        font-size: 16px;
        width: 50%;
        line-height: 23px;
    }
}