.about-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about-left {
    width: 35%;
    height: 450px;
    background-image: url(image/img-part2-left.png);
    background-size: cover;

}

.about-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;

    background: #9CAB70;
}

@media (max-width:768px) {
    .about-left {
        width: 100%;
    }
}

@media (max-width:768px) {
    .about-right {
        width: 100%;
    }
}


.about-header {

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */


    color: #FFFFFF;
}

.about-content {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;

    margin-left: auto;
    margin-right: auto;
}