body {
  display: flex;
  flex-direction: column;
}

.container-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(background-header.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.tittle-header {
  font-family: "Jost";
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;

  color: #000000;

  margin-bottom: 6px;
}

.menu-header {
  width: 45%;

  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu-header {
    flex-direction: column;
    align-items: center;
  }
}

.text-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}