.discount-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2.5%;
}

.discount-left {
    background: #9CAB70;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    text-align: center;

    width: 60%;
}

.discount-tittle {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #FFFFFF;

    margin-top: 26px;
    margin-bottom: 15px;


}

.discount-content {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;

    margin-bottom: 40px;


}

.contact-now {
    width: 25%;
    margin-left: auto;
    margin-right: auto;

    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #68763F;
    border-radius: 20px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #383F26;

    margin-bottom: 40px;

}



.discount-right {
    width: 35%;
    background-image: url(image/discount-img.png);
    background-size: cover;
}

@media (max-width:768px) {
    .discount-left {
        width: 100%;
        height: 50vh;
        
    }

    .discount-right {
        width: 100%;
        height: 50vh;
    }

    .discount-container {
        flex-direction: column;
    }

    .discount-content {
        font-size: 16px;
    }

    .discount-tittle{
        font-size: 32px;

    }
    .contact-now{
        font-size: 16px;

    }
}