.product-container {
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product-top {
    flex-basis: 100%;
    text-align: center;

    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */


    color: #000000;

    margin-bottom: 94px;
}

@media (max-width:875px) {
    .product-top {
        margin-top: 0px;
        margin-bottom: 100px;

    }
}

.product-bot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: 10px;
}

.product-item{
    text-align: center;
    width: 20%;
    margin-bottom:58px;
}

@media (max-width:875px) {
    .product-item {
        width: 100%;
        margin-bottom: 100px;

    }
}

@media (min-width:875px) and (max-width:1200px)  {
    .product-item {
        width: 40%;
        margin-bottom: 75px;

    }
}

.product-name {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */


    color: #000000;
}

.product-dec {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

